/* Style for the full-screen sections */
.full-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* Style for the up/down arrow buttons */
.scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
/* Style for the active up/down arrow button */
.active-btn {
  background-color: #000;
}

.button-container {  
  position: fixed;
  height: 100vh;
  transform: translateX(-50%);
  z-index: 999;
}

#contact {
  height: 95vh
}	

.my-btn {
  position: fixed;
  width: 100vw;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-up:hover {
  background-image: linear-gradient(to top, transparent, #007bff);
}
.btn-down:hover {
  background-image: linear-gradient(to bottom, transparent, #007bff);
}
.my-btn i {
  font-size: 150%;
}
.btn-up {
  top: 0px;
}

.btn-down {
  bottom: 0px;
}

.footer {
  height: 5vh;
}
/* Default styling for the projects section */
#projects .card-body {
  height: 100%;
}

.card-body {
  padding: 0.5rem!important;
}

@media (min-width: 993px) {

#projects .card-img-top {
  object-fit: contain;
  display: block;
}
}

@media (max-width: 576px) {
  .card-body {
    display: none;
  }
  
  .card-img-top {
    height: auto;
    object-fit: contain;
    max-height: 200px;
  }
  
  #projects .card {
    margin-bottom: 15px;
  }
}

@media (max-width: 992px) {

  .card-img-top {
    height: 150px;
    object-fit: cover;
  }

  .card-text {
    display: none;
  }

  .card-title {
    font-size: 1.2rem;
  }
}