/* Style for the full-screen sections */
.full-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#jumbotron {
  background-image: url(../images/planet-bg-styled.jpg);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

#skills {
  background-color: black;
  color: white;
}

#jumbotron h1 {
  font-size: 60px;
}

#jumbotron p {
  font-size: 24px;
  line-height: 1.5;
}

#contact {
  height: 95vh
}	
.my-btn {
  color: white;
}

.button-container {  
  position: fixed;
  height: 100vh;
  transform: translateX(-50%);
  z-index: 999;
}


.my-btn {
  position: fixed;
  width: 100vw;
  height: 12vh;
  border: none;
  outline: none;
  background: transparent;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-up:hover {
  background-image: linear-gradient(to top, transparent, #007bff);
}
.btn-down:hover {
  background-image: linear-gradient(to bottom, transparent, #007bff);
}
.my-btn i {
  font-size: 150%;
}
.btn-up {
  top: 0px;
}

.btn-down {
  bottom: 0px;
}

.footer {
  height: 5vh;
}
/* Default styling for the projects section */
#projects .card-body {
  height: 100%;
}

.card-body {
  padding: 0.5rem!important;
}

@media (min-width: 993px) {

  #projects .card-img-top {
    object-fit: contain;
    display: block;
  }
}

@media (max-height: 650px) {
  .full-screen {
    height: 650px;
  }
  .button-container {
    display: none;
  }
  #contact {
    height: 620px;
  }
  .footer {
    height: 30px;
  }
}

.carouselExampleIndicators {
  width: 740px;
  height: 600px;
  margin: auto;
}
.carousel-inner {
  height: 600px;
}
.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.video-container {
  height: 600px;
  width: 740px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card {
  background-color: black!important;
}
.modal-content {
  background-color: black!important;
  color: white !important;
}
.modal-content .close {
  color: white !important;
}

.col-6.col-md-2.mb-4.text-center {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
  max-width: 110px;
}


.col-6.col-md-2.mb-4.text-center i {
  font-size: 3em;
}

@media (max-width: 1199px) {
  .col-6.col-md-2.mb-4.text-center {
    max-width: 100px;
    max-height: 100px;
  }
  
.col-6.col-md-2.mb-4.text-center i {
  font-size: 2.5em;
}
.col-6.col-md-2.mb-4.text-center p {
  font-size: 0.7rem;
  margin-bottom: 0.7rem;
}

}

@media (max-width: 991px) {

  .card-img-top {
    height: 150px;
    object-fit: cover;
  }

  .card-text {
    display: none;
  }

  .card-title {
    font-size: 1.2rem;
  }

  .col-6.col-md-2.mb-4.text-center {
    max-width: 85px;
    max-height: 85px;
  }
  .col-6.col-md-2.mb-4.text-center i {
    font-size: 2.2em;
  }
  .carouselExampleIndicators {
    max-width: 440px;
    max-height: 300px;
  }
  
  .video-container {
    max-width: 440px;
    max-height: 300px;
  }
  .carousel-inner {
    max-height: 300px;
  }
}


@media (max-width: 768px) {
  
  #jumbotron h1 {
    font-size: 36px;
  }

  #jumbotron p {
    font-size: 18px;
  }

  .col-6.col-md-2.mb-4.text-center {
    max-width: 65px;
    max-height: 65px;
  }
  .col-6.col-md-2.mb-4.text-center i {
    font-size: 2.8em;
    margin-top: 0.2rem!important;
    margin-bottom: 0.2rem!important;
  }
  .col-6.col-md-2.mb-4.text-center p {
    display: none;
  }
}

@media (max-width: 572px) {
  
  .card-body {
    display: none;
  }
  
  .card-img-top {
    height: auto;
    object-fit: contain;
    max-height: 200px;
  }
  
  #projects .card {
    margin-bottom: 15px;
  }
  .carouselExampleIndicators {
    max-width: 300px;
    max-height: 200px;
  }
  
  .video-container {
    max-width: 300px;
    max-height: 200px;
  }
  .carousel-inner {
    max-height: 200px;
  }
}